<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <!-- Navbar Barnd -->
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <img src="{{ asset('bundles/paondebackend/img/logo.svg')}}" alt="" />
                    </small>
                </a>
            </div>
            <!-- /Navbar Barnd -->
            <!-- Sidebar Collapse -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="collapse-icon fa fa-bars"></i>
            </div>
            <!-- /Sidebar Collapse -->
            <!-- Account Area and Settings --->
            <div class="navbar-header pull-right">
                <div class="navbar-account">
                    <ul class="account-area">
                        <li>
                            {#<a class=" dropdown-toggle" data-toggle="dropdown" title="Notifications" href="#">
                                <i class="icon fa fa-warning"></i>
                                <span class="badge">3</span>
                            </a>#}
                            <!--Notification Dropdown-->
                            <ul class="pull-right dropdown-menu dropdown-arrow dropdown-notifications">

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <div class="notification-icon">
                                                <i class="fa fa-clock-o bg-darkorange white"></i>
                                            </div>
                                            <div class="notification-body">
                                                <span class="title">Pendientes</span>
                                                <span class="description">3</span>
                                            </div>

                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <div class="notification-icon">
                                                <i class="fa fa-cogs bg-warning white"></i>
                                            </div>
                                            <div class="notification-body">
                                                <span class="title">En Proceso</span>
                                                <span class="description">4</span>
                                            </div>

                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <div class="notification-icon">
                                                <i class="fa fa-check bg-success white"></i>
                                            </div>
                                            <div class="notification-body">
                                                <span class="title">Resueltos</span>
                                                <span class="description">5</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-footer ">
                                    <span>Tareas</span>

                                </li>
                            </ul>
                            <!--/Notification Dropdown-->
                        </li>
                        <li>
                            <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                <div class="avatar" title="View your public profile">
                                    <img src="https://image.flaticon.com/icons/png/512/78/78373.png">
                                </div>
                                <section>
                                    <h2><span class="profile"><span>Administrador</span></span></h2>
                                </section>
                            </a>
                            <!--Login Area Dropdown-->
                            <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                <li class="username"><a>Arista</a></li>
                                <li class="email"><a>ovasquez@kijho.com</a></li>
                                <!--Avatar Area-->
                                <li>
                                    <div class="avatar-area">
                                        <img src="{{ asset('bundles/paondebackend/img/avatars/adam-jansen.jpg')}}" class="avatar">
                                    </div>
                                </li>
                                <!--Avatar Area-->
                                <li class="edit">
                                    <a href="#" class="pull-right">Perfil</a>
                                </li>
                                <li class="dropdown-footer">
                                    {#<a href="{{ path('logout') }}">#}
                                    <a href="javascript:void()">
                                        Salir
                                    </a>
                                </li>
                            </ul>
                            <!--/Login Area Dropdown-->
                        </li>
                    </ul>
                    <!-- Settings -->
                </div>
            </div>
            <!-- /Account Area and Settings -->
        </div>
    </div>
</div>